body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
}

main, footer {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
}

h1 {
    font-size: 2.3em;
    font-weight: bold;
}

.content {
    width: 800px;
}

.item-list {
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
}

.item-list > div {
    margin: 5px;
}
